{% extends 'base.html' %}

{% block content %}

    {% if not request.user.is_authenticated %}
        <h1 style="text-align: center;">Bạn cần đăng nhập trước khi tiếp tục.</h1><br>
    {% endif %}
    {% if request.user.is_authenticated %}
        
        <img src="https://raw.githubusercontent.com/thanhchauns2/TetrisBattle/main/img.jpg" alt="Tetris Battle" width = "735" height="545" />

        <p>Bạn sẽ phải implement file agent.py chứa class Agent. File Agent mẫu có thể đọc ở <a href="https://github.com/thanhchauns2/OnlineTetrisBattle/blob/main/agent.py">đây</a>.</p>
        <h2>LƯU Ý: Tên của file phải là "agent.py"</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="file">agent.py</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

    {% endif %}

{% endblock %}