{% extends 'base.html' %}

{% block content %}

    <h1 style="text-align: center;">Thể lệ cuộc thi</h1><br><br>
    <h2>Hình thức thi</h2>
    <p>Nếu có nhiều hơn 16 đội thi, thi đấu vòng tròn tính điểm theo từng bảng ở vòng loại</p>
    <p>Ở mỗi trận đấu, mỗi cặp được đấu 3 lần và các đội được phép thay lại (nạp lại) chiến thuật
        trước khi bắt đầu mỗi lần đấu
    </p>
    <p>Vòng chung kết dự kiến sẽ chọn 16 đội xếp đầu, với thể thức thi đấu là loại trực tiếp</p>
    
    <img src="https://github.com/DuyMinhLe13/Data/blob/main/image/the_le.png?raw=true" alt="Tetris Battle" width = "735" height="545" />
    <h2>Thời gian training dự kiến</h2>
    <p>Từ 30/7 đến ngày thi vòng loại</p>
    <h2>Lịch dự kiến</h2>
    <p class="fw-bold">Tổ chức vòng sơ loại</p>
    <p>Thời gian: cả ngày 20/08/2023</p>
    <p class="fw-bold">Tổ chức ngày thi chính thức</p>
    <p>Thời gian: Chiều chủ nhật ngày 27/08/2023</p>
    <p>Địa điểm: Hội trường A2, Học viện công nghệ bưu chính viễn thông</p>
                    
{% endblock %}
