{% extends 'base.html' %}

{% block content %}
    
    <h1 style="text-align: center;">Chính sách bảo mật</h1><br><br>

    <p>Chúng tôi cam kết bảo vệ thông tin của khách hàng và sử dụng chúng 
        chỉ cho mục đích cần thiết để cung cấp dịch vụ tốt nhất cho người dùng.</p>

    <p>Chúng tôi thu thập thông tin của người dùng bao gồm tên, địa chỉ email, 
        địa chỉ IP, thông tin trình duyệt và thiết bị, và những thông tin khác 
        mà người dùng cung cấp cho chúng tôi. Chúng tôi sẽ không tiết lộ thông 
        tin này cho bất kỳ bên thứ ba nào, trừ khi có yêu cầu pháp lý hoặc để bảo vệ quyền lợi của chúng tôi.</p>
    <p>Chúng tôi sử dụng cookie để cải thiện trải nghiệm người dùng và phân 
        tích thông tin về lượt truy cập trang web của chúng tôi. Bằng cách sử 
        dụng trang web của chúng tôi, người dùng đồng ý với việc chúng tôi sử 
        dụng cookie của chúng tôi.</p>


{% endblock %}