  <footer>
    <div class="footer-container">
      <div class="column">
        <div class="col-md-6">
            <p>Chi tiết liên hệ:</p>
            <ul>
              <li class="ft">Học viện công nghệ Bưu Chính Viễn Thông</li>
              <li class="ft">Address: Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội</li>
              <li class="ft"><br></li>
              <li class="ft"><br></li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Follow PTIT:</p>
              <a href="https://www.facebook.com/HocvienPTIT" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>   
          </div>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="col-md-6">
            <p>Một sản phẩm của:</p>
            <ul>
              <li class="ft">Khoa CNTT1 - Học viện Công nghệ Bưu Chính Viễn Thông</li>
              <li class="ft">Email: ptitaichallenge@gmail.com</li>
              <li class="ft"><br></li>
            </ul>
          </div>
          <br>
          <div class="col-md-6">
            <p>Follow CNTT1:</p>
              <a href="https://www.facebook.com/KhoaCNTT1.PTIT" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>  
          </div>
      </div>
    </div>
  </footer>
