  <footer>
    <div class="footer-container">
      <div class="column" style="margin: auto">
            <ul>
              <li class="ft"><p>Một sản phẩm của:</p></li>
              <li class="ft">Khoa CNTT1 - Học viện Công nghệ Bưu Chính Viễn Thông</li>
              <li class="ft">Email: ptitaichallenge@gmail.com</li>
              <li class="ft"><br></li>
              <li class="ft"><br></li>
              <li class="ft">
                <p>Follow CNTT1:</p>
                <a href="https://www.facebook.com/KhoaCNTT1.PTIT" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>
              </li>
            </ul>
      </div>
    </div>
  </footer>
