  <footer>
    <div class="footer-container">
      <div class="column">
        <div class="col-md-6">
            <p>Chi tiết liên hệ:</p>
            <ul>
              <li class="ft">Học viện công nghệ Bưu Chính Viễn Thông</li>
              <li class="ft">Address: Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội</li>
              <li class="ft">Phone: +842433512254</li>
              <li class="ft">Email: &lt;blank&gt;</li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Follow us:</p>
              <a href="https://www.facebook.com/HocvienPTIT" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-twitter fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;" ><i class="fab fa-instagram fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;" ><i class="fab fa-youtube fa-2x"></i></a>  
          </div>
      </div>
      <div class="column">
        <div class="col-md-6">
            <p>Một sản phẩm của:</p>
            <ul>
              <li class="ft">Khoa CNTT1 - Học viện Công nghệ Bưu Chính Viễn Thông</li>
              <li class="ft">Address: &lt;blank&gt;</li>
              <li class="ft">Phone: +84976271656</li>
              <li class="ft">Email: terrorblade72@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Follow me:</p>
              <a href="https://www.facebook.com/terrorblade72/" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-twitter fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-instagram fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-youtube fa-2x"></i></a>  
          </div>
      </div>
    </div>
  </footer>