{% extends 'base.html' %}

{% block content %}

    {% if not request.user.is_authenticated %}
        <h1 style="text-align: center;">Bạn cần đăng nhập trước khi tiếp tục.</h1><br>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if not request.user.is_staff %}
            <h1 style="text-align: center;">Chức năng này được dành cho tài khoản ban giám khảo.</h1><br>
        {% endif %}
        {% if request.user.is_staff %}
            <img src="https://github.com/thanhchauns2/GIFS/blob/main/ezgif-2-299d597cf7.gif?raw=true" alt="Tetris Battle" width="735" height="545" />
            <form method="post">
                {% csrf_token %}
                <label for="ID1">Chọn ID của người chơi thứ nhất:</label>
                <select id="ID1" name="ID1">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select><br><br>

                <label for="ID2">Chọn ID của người chơi thứ hai:</label>
                <select id="ID2" name="ID2">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select><br><br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
