{% extends 'base.html' %}

{% block content %}

    {% if not request.user.is_authenticated %}
        <h1 style="text-align: center;">Bạn cần đăng nhập trước khi tiếp tục.</h1><br>
    {% endif %}
    {% if request.user.is_authenticated %}
        <video width="735" height="545" controls>
            <source src="/{{link}}"  type="video/webm">
        </video>
        <a href="#" id="openButton">Click to view results</a>
        <div id="content" style="display: none;">
            <h3>{{message}}</h3>
            <h3>{{message2}}</h3>
        </div>
        <!-- <img src = "/media/python.png"> -->
    {% endif %}

{% endblock %}